<p id="notice"><%= notice %></p>

<div>
  

  
    <% @messages.each do |message| %>
      
      <div>
      <h2>
      <%= current_user.username %>
      
      </h2>
      <h3>
       <%= message.title %>
      </h3>
        <%= message.body %>
      </div>
      <div>
      <%= link_to 'Show', message %>
        <%= link_to 'Edit', edit_message_path(message) %>
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      </div>
       
        
      
    <% end %>
  
</div>

<br>


